html {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: darkslategray;
}

.container {
    margin: 100px 50px 30px 50px;
}

h1 {
   font-family: 'Stylish', serif;
   font-size: 50px;
   color: white;
   line-height: 100px;
}

h2 {
    font-family: 'Stylish', serif;
    font-size: 36px;
    color: white;
 }

p,li,a {
    font-family: 'Rasa', serif;
    font-size: 17px;
    color: white;
    list-style: none;
}

a:hover{
    color: lightseagreen; 
}

input,textarea {
    font-family: 'Rasa', serif;
    font-size: 17px;
    color: grey;  
}

nav {
    font-family: 'Rasa', serif;
    font-size: 22px;
    color: white;
}

hr {
    border: 1px solid lightseagreen;
}

img {
    height: 70%;
}

button {
    font-family: 'Stylish', serif;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

#treasure {
    height: 50%;
}

#hook {
    height: 40px;
    margin-left: 40px;
}
